* {
<<<<<<< HEAD
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-size: 16px;
    color: #333;
  }
  
  h1 {
    text-align: center;
    margin-top: 20px;
  }
=======
    margin: 0;
    padding: 0;
  }

  body{
    margin: 0;
    padding: 0;
  }

>>>>>>> c103cddc629c232e7a1936a773508ff30819bf42
